/*
From entorb.net/style.css
*/

body {
  font-family: Verdana;
}

a {
  text-decoration: none; /* removes underlining */
  }

a:link { color: blue; text-decoration: none;}
a:visited { color: purple; text-decoration: none;}
a:hover { color: blue; text-decoration: underline; }
/* a:active { color: orange; } */

/* Tables_ alternating rows, for color ideas see from http://paletton.com */
  tr.r1 td { /* uneven rows */
  /* background-color: #03005C; */
  background: #FFF
  }
  tr.r2 td { /* even rows */
    background: #CCC
  /* background-color: #05007E; */
  }


/*
New Corona specific stuff
*/


body {
  padding-bottom: 20px;
  line-height: 1.5;
  /*
  display: block;
  margin: auto;
  max-width: 80%;
  */
  }




p {
  max-width: 1000px;
  text-align: justify;
  /* display: block;
  margin: auto;  */
}

ul {
  max-width: 900px;
  text-align: left;
  /* display: block;
  margin: auto;  */
}

img {
  /* width: 60%; */
  /* margin: auto;
  display: block; */
}


.echart-latest-data-wrapper {
  display: inline-block;
  width: 710px;
  height: 710px;
  overflow: scroll;
  border: 1px solid black;
}

/*
Gallery by Alex Friedl
*/

.af_gallery_container {
  display: flex;
  flex-flow: row nowrap;
}

/* #filter {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

#filter:focus {
  outline: 3px solid #ddd;
} */
.af_gallery_select {
  position: relative;
  display: inline-block;
  background-color: #f6f6f6;
  min-width: 60px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.af_gallery_select a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.af_gallery_select p {
  color: black;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.af_gallery_results {
  margin-left: 20px;
}
